body {
  font-family: var(--ff-main);
  font-size: var(--fs-normal);
  font-weight: var(--fw-normal);
  color: var(--clr-white);
  line-height: 1.5;

  background-color: var(--clr-grey-dark);
}

.container {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
