@use "./utils" as *;

/**
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
**/

$test: toRem(10px);

:root {
  --ff-main: "Inter", sans-serif;

  --clr-primary: #c5f82a;
  --clr-primary-outline: rgba(197, 248, 42, 0.5);
  --clr-white: #fff;

  --clr-grey-light: #333333ff;
  --clr-grey-normal: #1f1f1fff;
  --clr-grey-dark: #141414ff;

  --fs-normal: #{toRem(14px)};

  --fw-normal: 400;
  --fw-bold: 600;
  --fw-boler: 700;

  --size-desktop: #{toRem(1440px)};
  --size-mobile: #{toRem(375px)};
}
